<GridLayout class="body" rows="*, auto, auto">
  <GridLayout rows="*,auto" row="0">
    <StackLayout
      *ngIf="!showingImage"
      row="0"
    >
      <StackLayout marginTop="15" marginBottom="25">
        <Label *ngIf="emoji" class="emoji-icon" [text]="emoji"></Label>
        <SymCircleIcon *ngIf="iconCode" [iconCode]="iconCode" backgroundColor="blue"></SymCircleIcon>
        <Label class="body-text" textWrap="true" [text]="bodyText"></Label>
      </StackLayout>
      
      <SymContextualConditionsCard
        [contextualConditions]="contextualConditions"
        [weatherSummary]="weatherSummary"
        backgroundColor="red"
      ></SymContextualConditionsCard>
    </StackLayout>

    <Image
      *ngIf="showingImage"
      row="0"
      [src]="helpImageURI"
      height="auto"
    ></Image>
    <SymButtonLink
      *ngIf="helpImageURI && currentStep === stepAmount - 1"
      row="1"
      margin="0"
      [text]="showingImage ? 'Cerrar' : 'Ver ayuda'"
      (tap)="showImage()"
    ></SymButtonLink>
  </GridLayout>
  <SymStepProgressBar
    row="1"
    *ngIf="stepAmount"
    [current]="currentStep"
    [total]="stepAmount"
  ></SymStepProgressBar>

  <StackLayout row="2" class="card">
    <ng-content></ng-content>
  </StackLayout>
</GridLayout>
