@import "/src/app-variables";

.body {
  padding: $global-spacing;
}

.header {
  padding: 8 $global-spacing;
  & Label {
    font-weight: bold;
    color: $text-color;
  }
}

.body-text {
  text-align: center;
  font-weight: 500;
  margin: $global-spacing 24 0 24;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
