@import "src/app-variables";

.body {
  padding: $global-spacing;
}

.body-text {
  text-align: center;
  font-weight: 500;
  margin: $global-spacing 24 0 24;
}

.card {
  border-radius: 4;
  android-elevation: 2;
  margin: 4;
  padding: 16;
}
