<SymBasicActionBar title="3, 2, 1... ¡Empezamos!"></SymBasicActionBar>

<StackLayout verticalAlignment="center">
    <Label class="emoji" horizontalAlignment="center" text="🎉"></Label>
    <Label class="header" horizontalAlignment="center" text="¡Genial!"></Label>
    <Label class="description" textAlignment="center" textWrap="true" text="Parece que ya has configurado todo correctamente y puedes empezar a utilizar la app"></Label>
    <SymPrimaryButton text="¡Vamos!" horizontalAlignment="center" size="lg" (tap)="onLetsGoTap()"></SymPrimaryButton>
</StackLayout>
