<ActionBar>
  <ActionItem
    text="Ajustes"
    android.position="popup"
    ios.position="left"
    (tap)="onSettingsTap()"
  >
  </ActionItem>

  <Label [text]="title"></Label>

  <ActionItem
    *ngIf="hasWatchAvailable"
    [text]="hasWatchConnected ? 'Desconectar reloj' : 'Conectar reloj'"
    [icon]="
      hasWatchConnected
        ? 'res://round_watch_on_white_24'
        : 'res://round_watch_off_white_24'
    "
    android.position="actionBar"
    ios.position="right"
    (tap)="onWatchDialogTap()"
  >
  </ActionItem>

  <!-- <ActionItem
    *ngIf="testUser === 'WU7H391oSf52QTFZharm-120'"
    text="Simulación"
    icon="res://round_bolt_white_24"
    android.position="actionBar"
    ios.position="right"
    (tap)="onSimulationTap()"
  >
  </ActionItem> -->

  <!-- <ActionItem
    *ngIf="true"
    text="Simulación"
    icon="res://round_bolt_white_24"
    android.position="actionBar"
    ios.position="right"
    (tap)="onSimulationTap()"
  >
  </ActionItem> -->

  <ActionItem
    *ngIf="panicButtonActive"
    text="Necesito ayuda"
    android.position="popup"
    ios.position="right"
    (tap)="onHelpTap()"
  >
  </ActionItem>
</ActionBar>
