<ActionBar>
    <ActionItem
            text="Ajustes"
            icon="res://round_app_settings_alt_white_24"
            android.position="popup"
            ios.position="left"
            (tap)="onSettingsTap()">
    </ActionItem>

    <Label [text]="title"></Label>

    <ActionItem
            text="Notificaciones"
            icon="res://round_mark_chat_read_white_24"
            android.position="actionBar"
            ios.position="right"
            (tap)="onNotificationsTap()">
    </ActionItem>
</ActionBar>
