<ActionBar>
    <ActionItem
            text="Ajustes"
            icon="res://round_app_settings_alt_white_24"
            android.position="popup"
            ios.position="left"
            (tap)="onSettingsTap()">
    </ActionItem>

    <Label [text]="title"></Label>

    <ActionItem
            *ngIf="development"
            text="Simulación"
            icon="res://round_bolt_white_24"
            android.position="actionBar"
            ios.position="right"
            (tap)="onSimulationTap()">
    </ActionItem>
</ActionBar>
