@import "src/app-variables";

/*
* This is not the best HTML + SCSS code ever for an animation, but I really struggled to implement this. I basically
* tried to copy the animation from https://codepen.io/ayaos/pen/wvPBbdX to the NativeScript mobile app. In the process,
* I was on edge as nonsensical errors were appearing continuously. In the end, this is the best I could do
* to approximate the original animation.
*/


.audio-waves {
    border-radius: 6;
    padding: 6 10;
    margin-right: 10;
    height: auto;
}

.wave-sm-class-short {
    height: 10%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-sm;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-sm-class-medium {
    height: 10%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-sm;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-sm-class-long {
    height: 10%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-sm;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-md-class-short {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-md;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-md-class-medium {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-md;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-md-class-long {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-md;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-lg-class-short {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-lg;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-lg-class-medium {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-lg;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.wave-lg-class-long {
    height: 30%;
    width: 3;
    border-radius: 6;
    background-color: $complementary;
    animation-name: wave-lg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes wave-sm {
  0%,100% {
    opacity: 0.35;
    height: 10%;
  }
  50% {
    opacity: 1;
    height: 25%;
  }
}

@keyframes wave-md {
  0%,100% {
    opacity: 0.35;
    height: 30%;
  }
  50% {
    opacity: 1;
    height: 60%;
  }
}

@keyframes wave-lg {
  0%,100% {
    opacity: 0.35;
    height: 20%;
  }
  50% {
    opacity: 1;
    height: 90%;
  }
}
