@import "src/app-variables";

.highlighted-text {
  text-align: center;
  font-weight: bold;
}

.body-text {
  text-align: center;
  margin: 0 24 0 24;
}

.body-title {
  font-weight: 500;
  margin-top: $global-spacing;
}

.body-subtitle {
  margin-top: 8;
}
