<GridLayout class="page" rows="auto, *, auto">
    <Button
            row="0"
            margin="0"
            class="btn btn-primary"
            [text]="inDanger ? 'Cambiar a \'Fuera de riesgo\'' : 'Cambiar a \'En riesgo\''"
            (tap)="onSwitchStatus()">
    </Button>
    <StackLayout row="1" verticalAlignment="center">
        <SymCircleIcon iconCode="&#xe55e;"></SymCircleIcon>
        <Label class="body-text body-title" textWrap="true" [text]="'Estás realizando una exposición en:\nLugar 1'"></Label>
        <Label class="body-text body-subtitle" textWrap="true" text="Intenta permanecer en este lugar. La app te acompañará durante todo el proceso"></Label>
    </StackLayout>
    <StackLayout row="2">
        <ng-container *ngIf="inDanger; else outOfDanger">
            <Label class="highlighted-text" textWrap="true" text="Llámame si lo necesitas"></Label>
            <SymConfirmButton horizontalAlignment="center" text="Llamar a Juani" (tap)="onAskToContinue()"></SymConfirmButton>
            <SymButtonLink margin="0" text="¿Por qué no deberías irte ahora?" (tap)="onWantsToLeaveTap()"></SymButtonLink>
        </ng-container>
        <ng-template #outOfDanger>
            <SymButtonLink margin="0" text="¿Necesitas irte?" (tap)="onEndExposureTap()"></SymButtonLink>
        </ng-template>
    </StackLayout>
</GridLayout>
