<GridLayout class="page" rows="*, auto" *ngIf="ongoingExposure">
    <StackLayout row="0" verticalAlignment="center">
        <Label class="body-text body-title" textWrap="true" [text]="'Tiempo de exposición en:\n' + ongoingExposure.place.name"></Label>
        <Label class="minutes-counter" [text]="exposureProgress === 0 ? '< 1' : exposureProgress"></Label>
        <Label class="minutes-text" [text]="exposureProgress > 1 ? 'minutos' : 'minuto'"></Label>
        <SymExposureProgressBar [segments]="progressSegments" [progress]="exposureProgress"></SymExposureProgressBar>
        <StackLayout class="flat-card">
            <Label class="body-text" textWrap="true" [text]="'Permanece en este lugar, limita el uso del teléfono y evita las distracciones.\n\nLa app te acompañará durante todo el proceso a través de notificaciones puntuales.'"></Label>
        </StackLayout>
    </StackLayout>
    <SymButtonLink row="1" *ngIf="!inDanger" margin="0" text="¿Necesitas irte?" (tap)="onWantsToEndExposureTap()"></SymButtonLink>
    <SymButtonLink row="1" *ngIf="inDanger" margin="0" text="¿Por qué no deberías irte ahora?" (tap)="onWantsToLeaveTap()"></SymButtonLink>

    <!--<StackLayout row="1">
        <ng-container *ngIf="inDanger; else outOfDanger">
            <Label class="highlighted-text" textWrap="true" text="Llámame si lo necesitas"></Label>
            <SymConfirmButton horizontalAlignment="center" text="Llamar a Juani" (tap)="onCallTherapistTap()"></SymConfirmButton>
            <SymButtonLink margin="0" text="¿Por qué no deberías irte ahora?" (tap)="onWantsToLeaveTap()"></SymButtonLink>
        </ng-container>
        <ng-template #outOfDanger>
            <SymButtonLink margin="0" text="¿Necesitas irte?" (tap)="onWantsToEndExposureTap()"></SymButtonLink>
        </ng-template>
    </StackLayout>-->
</GridLayout>
