<GridLayout class="page" rows="*, auto, auto">
    <StackLayout row="0" verticalAlignment="center">
        <Label class="minutes-counter" text="¡Buen trabajo!"></Label>
        <StackLayout class="flat-card">
            <Label class="body-text" textWrap="true" [text]="'En breves instantes recibirás una última notificación para evaluar tu última exposición.\n\nPuedes aprovechar este tiempo para descansar y recuperarte de la exposición.'"></Label>
        </StackLayout>
    </StackLayout>
</GridLayout>
