<ScrollView>
    <StackLayout>
        <SymProgressSection title="Última exposición" btnText="Ver todas" [btnActive]="hasData" (btnTap)="onSeeRecordsTap()">
            <SymChartCard *ngIf="latestData$ | async as latestData; else noRecords" chartType="line" [record]="latestData"></SymChartCard>
            <ng-template #noRecords>
                <SymIconTextCard iconCode="&#xe26b;" text="Aquí podrás ver los registros de tu última exposición en cuanto realices una">
                </SymIconTextCard>
            </ng-template>
        </SymProgressSection>
        <SymProgressSection title="Evolución" btnText="Ver detalle" [btnActive]="hasData" (btnTap)="onSeeAggregatesTap()">
            <SymTitleContentCard *ngIf="summaryData; else noSummary" iconCode="&#xe26b;" title="En todos los lugares" subtitle="Nivel de ansiedad medio">
                <SymBarChart [yAxisDataRange]="yAxisDataRange" [cuttingLines]="cuttingLines" [data]="summaryData"></SymBarChart>
            </SymTitleContentCard>
            <ng-template #noSummary>
                <SymIconTextCard iconCode="&#xf092;" text="Conforme vayas realizando exposiciones te iremos mostrando tus avances aquí">
                </SymIconTextCard>
            </ng-template>
        </SymProgressSection>
    </StackLayout>
</ScrollView>
