<SymBasicActionBar [title]="title"></SymBasicActionBar>

<SymModalBody
        [iconCode]="iconCode"
        [emoji]="emoji"
        [bodyText]="bodyText">
    <Label
            textWrap="true"
            marginBottom="18"
            [text]="question">
    </Label>
    <SymPrimaryButton
            size="lg"
            horizontalAlignment="center"
            [text]="confirmText"
            (tap)="onConfirmTap()">
    </SymPrimaryButton>
    <SymButtonLink
            margin="0"
            horizontalAlignment="center"
            [text]="cancelText"
            (tap)="onCancelTap()">
    </SymButtonLink>
</SymModalBody>
