<SymMainActionBar title="Notificaciones"></SymMainActionBar>

<ng-container *ngIf="notifications">
    <ng-container *ngIf="notifications.length > 0; else notificationsRead">
        <ListView [items]="notifications" (itemTap)="onListItemTap($event)">
            <ng-template let-item="item">
                <SymNotificationsListItem [notification]="item"></SymNotificationsListItem>
            </ng-template>
        </ListView>
    </ng-container>

    <ng-template #notificationsRead>
        <StackLayout verticalAlignment="center">
            <SymCircleIcon iconCode="&#xf18b;"></SymCircleIcon>
            <Label class="body" textWrap="true" textAlignment="center" text="No tienes notificaciones pendientes"></Label>
        </StackLayout>
    </ng-template>
</ng-container>
