<GridLayout rows="auto, auto" columns="*, auto">
    <StackLayout
            row="0"
            col="0"
            [class.focused]="focus">
        <TextField
                [hint]="hint"
                returnKeyType="send"
                (focus)="onFieldFocus()"
                (blur)="onFieldBlur()"
                (textChange)="onFieldTextChange($event)"
                (returnPress)="onConfirmTap()">
        </TextField>
    </StackLayout>
    <Label
            row="0"
            col="1"
            class="mdi-ro mdi-24 confirm"
            textAlignment="center"
            text="&#xe5ca;"
            (tap)="onConfirmTap()">
    </Label>
    <Label
        *ngIf="helpText"
        row="1"
        colSpan="2"
        class="help-text"
        textWrap="true"
        [text]="helpText">
    </Label>
</GridLayout>
