@import "src/app-variables";

GridLayout {
  margin: 8;
}

StackLayout {
  background-color: const(grey);
  border-radius: 4;
  border-width: 2;
  border-color: const(grey);
  &.focused {
    border-color: $complementary;
  }
}

TextField {
  placeholder-color: $input-color;
  color: $accent;
  font-size: 16;
  border-bottom-width: 0;
  vertical-align: center;
}

.confirm {
  vertical-align: center;
  color: $accent;
  margin-left: 12;
}

.help-text {
  font-size: 12;
  color: $input-color;
  margin-left: $global-spacing;
}
