<ng-container *ngIf="content$ | async as content; else loading">
    <SymCloseActionBar [title]="content.title" (close)="onClose()"></SymCloseActionBar>

    <ScrollView (scroll)="onScroll($event)">
        <StackLayout (layoutChanged)="onContentRendered($event)">
            <!-- <Video #player
                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                controls="true"
                height="300"
            ></Video> -->
            <Label textWrap="true" [text]="content.body"></Label>
        </StackLayout>
    </ScrollView>
</ng-container>

<ng-template #loading>
    <SymCloseActionBar title="Cargando..." (close)="onClose()"></SymCloseActionBar>
    <ActivityIndicator busy="true"></ActivityIndicator>
</ng-template>
