@import "src/app-variables";

.circle {
  height: 100;
  width: 100;
  background-color: const(grey);
  border-radius: 50;
}

.icon {
  horizontal-align: center;
  vertical-align: center;
  font-size: 56;
  color: $accent;
}
