<SymCloseActionBar
  [title]="options.title"
  (close)="onClose()"
></SymCloseActionBar>

<SymModalBody
  [emoji]="options.feedbackScreen.body.emoji"
  [iconCode]="options.feedbackScreen.body.iconCode"
  [bodyText]="options.feedbackScreen.body.text"
>
  <Label
    textWrap="true"
    textAlignment="center"
    [text]="options.feedbackScreen.question"
  ></Label>
  <ng-container
    *ngFor="let option of options.feedbackScreen.options"
    [ngSwitch]="option.type"
  >
    <SymFeedbackButtonOption
      *ngSwitchCase="'predefined'"
      [text]="option.answer"
      (optionTap)="onAnswer($event)"
    ></SymFeedbackButtonOption>
    <SymFeedbackTextOption
      *ngSwitchCase="'free-text'"
      [hint]="option.hint"
      [helpText]="option.helpText"
      (answerProvided)="onAnswer($event)"
    ></SymFeedbackTextOption>
    <SymTextAndAudioInput
      *ngSwitchCase="'free-text-with-audio'"
      [text]="answer"
      [hint]="option.hint"
      [helpText]="option.helpText"
      marginTop="24"
      marginBottom="24"
      (textChanged)="onAnswer($event)"
      (audioRecorded)="onAudioRecorded($event)"
    >
    </SymTextAndAudioInput>
  </ng-container>
  <ng-container *ngIf="hasTextAndAudioInput">
    <SymPrimaryButton
      horizontalAlignment="center"
      text="Enviar"
      [enabled]="gotAnswer"
      (tap)="onClose()"
    >
    </SymPrimaryButton>
  </ng-container>
</SymModalBody>

<StackLayout *ngIf="showConfirmScreen">
  <SymCompletionScreen
    [options]="options.completionScreen"
    (confirmTapped)="onClose()"
  >
  </SymCompletionScreen>
</StackLayout>
