@import "src/app-variables";

.circle {
  height: 100;
  width: 100;
  border-radius: 50;
  background-color: const(grey);
  horizontal-align: center;
}

.icon {
  color: $accent;
  font-size: 48;
  horizontal-align: center;
  vertical-align: center;
}

.body {
  margin-top: 18;
  font-size: 18;
}
