@import "src/app-variables";

.indicator-background {
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 100%;
  vertical-align: center;
  z-index: 99;
}

.indicator {
  color: $complementary;
  width: 200dp;
  height: 200dp;
  background-image: url("~/images/brand/square_no_text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}
