@import "src/app-variables";

Label {
  margin-bottom: 8;
}

StackLayout {
  background-color: const(white);
  height: 100%;
  padding: $global-spacing;
}

.header {
  font-size: 36;
  text-align: center;
  margin-top: 12;
}

.message {
  margin: 12 0 24 0;
  text-align: center;
}
