@import "src/app-variables";

Label {
  margin-bottom: 8;
}

StackLayout {
  background-color: const(white);
  height: 100%;
}

GridLayout {
  padding: $global-spacing;
}

.emoji {
  font-size: 72;
  text-align: center;
}

.circle {
  height: 100;
  width: 100;
  border-radius: 50;
  background-color: const(grey);
}

.icon {
  color: $accent;
  horizontal-align: center;
  vertical-align: center;
  font-size: 56;
}

.header {
  font-size: 36;
  text-align: center;
}

.message {
  text-align: center;
}
