StackLayout {
  border-width: 1;
  border-color: #e0e0e0;
  border-style: solid;
  border-radius: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  // android-elevation: 2;
  height: 266;
  margin: 4;
}
