@import "src/app-variables";

.map-container {
  height: 100%;
  width: 100%;
}

.map-btn {
  height: 48;
  width: 48;
  & .circle {
    background-color: const(white);
    border-radius: 24;
    border-color: $grey;
    border-width: 2;
  }
  & .icon {
    horizontal-align: center;
    vertical-align: center;
    font-size: 30;
    color: $accent;
  }
}

.indicator-container {
  height: 100%;
  width: 100%;
  background-color: $grey;
}

.indicator {
  color: $complementary;
  width: 100;
  height: 100;
}
