/* Add mobile styles for the component here.  */
.flat {
  android-elevation: 0;
}

Button {
  padding: 0;
}

.sm {
  font-size: 14;
  padding: 0 12;
}

.md {
  font-size: 16;
  padding: 0 16;
}

.lg {
  font-size: 18;
  padding: 0 30;
}
