<SymCloseActionBar title="¿Necesitas ayuda?" (close)="onClose()"></SymCloseActionBar>

<GridLayout rows="*,auto">
    <SymPanicButtonContent
            row="0"
            iconCode="&#xef73;"
            [title]="'¿Te cuesta tolerar\nla ansiedad?'"
            body="Quizás esta guía te ayude"
            btnText="Abrir guía"
            (btnTap)="onOpenGuide()">
    </SymPanicButtonContent>
    <StackLayout
            row="1"
            margin="0"
            padding="0"
            [visibility]="hasSeenGuide ? 'visible' : 'collapsed'">
        <SymButtonLink
                text="He seguido la guía y sigo teniendo dificultades"
                (tap)="onMakeContact()">
        </SymButtonLink>
    </StackLayout>
</GridLayout>
