<StackLayout [marginBottom]="marginBottom" >
    <GridLayout columns="auto, *, auto" rows="auto" [class.focused]="focused" marginBottom="5">
        <Label col="0" text="&#xe0da;" class="mdi-ro mdi-24" verticalAlignment="center"></Label>
        <TextField col="1"
                   [secure]="secure"
                   [hint]="hint"
                   [maxlength]="maxLength"
                   autocorrect="false"
                   textAlignment="center"
                   returnKeyType="go"
                   (focus)="onFieldFocus()"
                   (blur)="onFieldBlur()"
                   (textChange)="onFieldTextChange($event)"
                   (returnPress)="onFieldReturnPress()">
        </TextField>
        <Label col="2" [text]="secure ? '&#xe8f4;' : '&#xe8f5;'" class="mdi-ro mdi-24" verticalAlignment="center" (tap)="onToggleVisibility()"></Label>
    </GridLayout>
    <Label [text]="error" class="text-danger" horizontalAlignment="center"></Label>
</StackLayout>

