<SymBasicActionBar title="¿Cómo te encuentras?"></SymBasicActionBar>

<SymModalBody
        iconCode="&#xe94c;"
        bodyText="Por favor, responde con sinceridad. Al hacerlo me ayudas a saber mejor cómo te encuentras"
        [currentStep]="currentStep"
        [stepAmount]="questionsAmount">
    <ng-container *ngFor="let question of questions; index as i">
        <SymQuestionStep
                *ngIf="currentStep === i"
                [question]="question"
                [index]="i"
                [amount]="questionsAmount"
                [savedAnswer]="currentStepAnswer"
                (answerProvided)="onAnswerProvided($event)"
                (backTap)="onBackTap()">
        </SymQuestionStep>
    </ng-container>
</SymModalBody>
