<SymMainActionBar title="Tu progreso"></SymMainActionBar>

<!-- Flatten once button is no longer needed! -->
<GridLayout rows="auto, *" columns="2*, 2*">
    <Button row="0" col="0"
            text="{{ idle ? 'Cambiar a \'En exposición\'' : 'Cambiar a \'En reposo\''}}"
            (tap)="switchExposureState()">
    </Button>
    <Button row="0" col="1"
            text="{{ hasData ? 'Borrar datos' : 'Generar datos'}}"
            (tap)="switchDataAvailabilityState()">
    </Button>

    <SymIdleProgress row="1" colSpan="2" *ngIf="idle" [hasData]="hasData"></SymIdleProgress>
    <SymUnderExposure row="1" colSpan="2" *ngIf="!idle"></SymUnderExposure>
</GridLayout>
