// Colors
$accent: #1f525e;
$complementary: #2dc38a;
$input-color: #5f5f5f;
$text-color: #333333;

$white: #ffffff;
$light-grey: #f1f1f1;
$grey: #e0e0e0;
$dark-grey: #b3b3b3;

// Spacings
$global-spacing: 18;

@import "~@nativescript/theme/index";
