<SymBasicActionBar title="Primeros pasos"></SymBasicActionBar>

<ScrollView>
  <StackLayout>
    <Label class="header" text="¡Hola! 👋"></Label>
    <SymTutorialParagraph
      text="Bienvenido a SyMptOMS. Al iniciar tu terapia, has dado un gran paso para mejorar tu problema. Esta app te acompañará con tareas y seguimiento. ¡Juntos podremos lograrlo!"
    ></SymTutorialParagraph>

    <SymVideoPlayer #player src="~/media/videos/Geovid00.mp4"></SymVideoPlayer>

    <SymButtonLink
      text="Puedes saber más sobre el proyecto aquí"
      (tap)="onOpenProjectWebsiteTap()"
      [margin]="6"
    ></SymButtonLink>

    <SymTutorialParagraph
      text="Antes de continuar, es necesario configurar tu teléfono y conceder los permisos necesarios para que la app funcione correctamente. Así recibirás un tratamiento eficaz y cercano."
    ></SymTutorialParagraph>

    <SymVideoPlayer #player src="~/media/videos/Geovid01.mp4"></SymVideoPlayer>

    <SymTutorialParagraph
      text="Recopilamos datos sensibles, como tu ubicación, para ayudarte con exposiciones guiadas. No guardamos información que te identifique (nombre, DNI o correo) ni almacenamos datos fuera de las exposiciones. Somos un equipo universitario dedicado a tu bienestar."
    ></SymTutorialParagraph>

    <SymButtonLink
      text="Consulta nuestra política de privacidad aquí"
      (tap)="onOpenPrivacyPolicyTap()"
      [margin]="6"
    ></SymButtonLink>

    <SymTutorialParagraph
      text="Para ayudar a avanzar en la investigación en tratamientos digitales, te pedimos ceder tus datos de exposiciones anonimizados para un análisis más detallado."
    ></SymTutorialParagraph>

    <SymDataSharingOption
      marginBottom="18"
      [italic]="true"
      [bold]="true"
    ></SymDataSharingOption>

    <SymTutorialParagraph
      text="También te pedimos compartir información de errores de la app para corregirlos rápidamente. En cualquier momento podrás modificar estas opciones en los ajustes."
    ></SymTutorialParagraph>

    <SymReportUsageOption
      marginBottom="18"
      [italic]="true"
      [bold]="true"
    ></SymReportUsageOption>

    <SymTutorialParagraph
      text="Finalmente, pedimos permisos para recopilar ubicación (GPS) y desactivar las restricciones de batería para un seguimiento continuo durante exposiciones; consulta con tu terapeuta si tienes dudas."
    ></SymTutorialParagraph>

    <SymTutorialParagraph
      text="Al finalizar el tratamiento se eliminará toda la información que pueda identificarte si así lo deseas."
    ></SymTutorialParagraph>

    <SymTutorialParagraph
      bold="true"
      text="Al pulsar “Configurar” verás los permisos necesarios. Aceptarlos es fundamental para que la app funcione correctamente."
    ></SymTutorialParagraph>

    <SymPrimaryButton
      text="Configurar"
      horizontalAlignment="center"
      size="lg"
      (tap)="onConfigureTap()"
    >
    </SymPrimaryButton>

    <Image
      margin="16 20 6 20"
      src="~/media/images/tutorial/logo_Ministerio_ciencia_v2.jpg"
      stretch="aspectFit"
    ></Image>

    <SymTutorialParagraph
      text='Esta aplicación se enmarca dentro del proyecto coordinado "Maximizing the efficacy of in vivo exposure therapy using smartphone-assisted just-in-time adaptive intervention for anxiety disorder"'
      fontSize="11"
    ></SymTutorialParagraph>
  </StackLayout>
</ScrollView>
