<ActionBar>
  <Label text="Home"></Label>
</ActionBar>

<!-- <GridLayout>
  <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->

<FlexboxLayout
  *ngIf="experiment"
  flexDirection="column"
  justifyContent="center"
>
  <StackLayout *ngIf="!experiment.isRunning; else experimentRunning">
    <TextField
      hint="Enter experiment name"
      [(ngModel)]="experiment.name"
      autocorrect="false"
    ></TextField>
    <Button
      text="Start experiment"
      (tap)="onTapStart()"
      class="c-bg-lime -rounded-lg"
    ></Button>
  </StackLayout>
  <ng-template #experimentRunning>
    <StackLayout>
      <Label
        text="Currently running {{ experiment.name }} experiment"
        textWrap="true"
      ></Label>
      <Button
        text="Stop experiment"
        (tap)="onTapStop()"
        class="c-bg-orange -rounded-lg"
      ></Button>
    </StackLayout>
  </ng-template>
</FlexboxLayout>
