<StackLayout
  *ngIf="showContextualConditionsCard"
  class="card"
  marginBottom="-30px"
>
  <FlexboxLayout
    justifyContent="space-between"
    alignItems="center"
    class="header"
  >
    <Label class="flat-card-text flat-card-title" text="Condiciones"></Label>

    <Label
      class="mdi-ro info"
      row="1"
      text="&#xe88e;"
      verticalAlignment="bottom"
      horizontalAlignment="center"
      isPassThroughParentEnabled="true"
      (tap)="showCompliancePopup()"
      style="margin-top: 2px"
    >
    </Label>
  </FlexboxLayout>

  <ng-container class="contextual-conditions-body">
    <SymContextualConditionItem
      [title]="'Cond. lumínica '"
      [configuredCondition]="lightConditionFromContextualConditions"
      [receivedCondition]="lightConditionFromWeatherSummary"
    >
    </SymContextualConditionItem>

    <SymContextualConditionItem
      [title]="'Cond. meteorológica '"
      [configuredCondition]="weatherAndWindFromContextualConditions"
      [receivedCondition]="weatherAndWindFromWeatherSummary"
    >
    </SymContextualConditionItem>

    <SymContextualConditionItem
      [title]="'Horario '"
      [configuredCondition]="timeRangeFromContextualConditions"
      [receivedCondition]="currentTimeFormatted"
      [timeIsWithinRange]="isCurrentTimeWithinRange"
    >
    </SymContextualConditionItem>
  </ng-container>
</StackLayout>
