@import "/src/app-variables";

.circle {
  height: 46;
  width: 46;
  background-color: const(grey);
  border-radius: 23;
}

.icon {
  horizontal-align: center;
  vertical-align: center;
  font-size: 28;
  color: $accent;
}

.name {
  font-weight: 500;
  margin: 16;
}

.arrow {
  color: $dark-grey;
  font-size: 32;
  margin-top: -6em;
  transition: transform 0.3s ease-in-out;
}

.rotated {
  transform: rotate(90deg);
}

.hidden {
  display: none;
  opacity: 0;
}
