<GridLayout class="card" rows="*,*">
  <GridLayout row="0" columns="auto,*,auto">
    <GridLayout col="0" rows="auto" verticalAlignment="center">
      <Label class="circle" verticalAlignment="center"></Label>
      <Label
        class="mdi-ro icon"
        text="&#xe55f;"
        verticalAlignment="center"
      ></Label>
    </GridLayout>

    <StackLayout col="1" style="margin-left: 8em" verticalAlignment="top">
      <Label
        style="margin: 0; padding: 0; font-weight: 500"
        [text]="place.name"
        verticalAlignment="center"
      ></Label>
      <Label
        [text]="'Nº exposiciones: ' + numberOfExposures"
        verticalAlignment="center"
      ></Label>
    </StackLayout>

    <Label
      *ngIf="anyContextualConditions"
      class="mdi-ro arrow"
      col="2"
      text="&#xe5cc;"
      [class.rotated]="isExpanded"
      verticalAlignment="center"
    >
    </Label>
  </GridLayout>

  <GridLayout
    *ngIf="isExpanded && anyContextualConditions"
    row="1"
    verticalAlignment="center"
    style="margin-top: 50px"
    rows="auto, *"
    columns="*"
  >
    <StackLayout
      row="1"
      col="0"
      style="
        border-left-width: 1.5em;
        border-left-color: #e0e0e0;
        border-radius: 25px;
        padding-top: 30px;
      "
    >
      <SymPlacesListItemCondition
        [condition]="lightCondition"
      ></SymPlacesListItemCondition>
      <SymPlacesListItemCondition
        [condition]="timeRange"
      ></SymPlacesListItemCondition>
      <SymPlacesListItemCondition
        [condition]="weatherAndWind"
      ></SymPlacesListItemCondition>
    </StackLayout>
  </GridLayout>
</GridLayout>
