<SymMainActionBar title="Simulación"></SymMainActionBar>

<ScrollView>
    <StackLayout class="page">
        <StackLayout class="flat-card">
            <Label class="card-header" textWrap="true" textAlignment="center" text="Sección especial para evaluar la interfaz"></Label>
            <Label textWrap="true" text="Esta sección no aparecerá en la aplicación definitiva. Su finalidad es permitir evaluar los diferentes componentes de la exposición sin tener que llevarla a cabo."></Label>
        </StackLayout>
        <SymSimulationSection title="Eventos preexposición">
            <SymPrimaryButton [margin]="btnMargin" text="Está 10 minutos cerca del área (sin entrar)" (tap)="emitEMAIFrameworkEvent('stayedForAWhileCloseToAreaOfInterest')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Entra en el área" (tap)="emitEMAIFrameworkEvent('movedInsideAreaOfInterest', [{ aoi: { id: 'fake-place1', name: 'Lugar falso', latitude: 0, longitude: 0, radius: 100}}])"></SymPrimaryButton>
        </SymSimulationSection>
        <SymSimulationSection title="Eventos en exposición">
            <SymPrimaryButton [margin]="btnMargin" text="Recibe preguntas" (tap)="emitEMAIFrameworkEvent('wantsToAnswerQuestions')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Escapa involuntariamente (sigue cerca)" (tap)="emitEMAIFrameworkEvent('movedOutsideAreaOfInterest', [{ aoi: { id: 'fake-place1', name: 'Lugar falso', latitude: 0, longitude: 0, radius: 100}}])"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Regresa de un escape" (tap)="emitEMAIFrameworkEvent('movedInsideAreaOfInterest', [{ aoi: { id: 'fake-place1', name: 'Lugar falso', latitude: 0, longitude: 0, radius: 100}}])"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Abandona (se aleja)" (tap)="emitEMAIFrameworkEvent('movedAwayFromAreaOfInterest', [{ aoi: { id: 'fake-place1', name: 'Lugar falso', latitude: 0, longitude: 0, radius: 100}}])"></SymPrimaryButton>
        </SymSimulationSection>
        <SymSimulationSection title="Eventos de finalización">
            <SymPrimaryButton [margin]="btnMargin" text="Finaliza con ansiedad <5" (tap)="emitEMAIFrameworkEvent('exposureSuccessfullyFinished')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Finaliza con ansiedad >= 5 & dif. >= 3 USAs" (tap)="emitEMAIFrameworkEvent('exposureNeutrallyFinished')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Finaliza con ansiedad >= 5 & dif. < 3 USAs" (tap)="emitEMAIFrameworkEvent('exposureBadlyFinished')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Finaliza la extensión, con ansiedad <8" (tap)="emitEMAIFrameworkEvent('exposureTimeExtensionFinishedFine')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Finaliza la extensión, con ansiedad >=8" (tap)="emitEMAIFrameworkEvent('exposureTimeExtensionFinishedBadly')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Transcurre 1h y 30min y finaliza" (tap)="emitEMAIFrameworkEvent('exposureRunOutOfTime')"></SymPrimaryButton>
            <SymPrimaryButton [margin]="btnMargin" text="Acaba y se le pide valorar la experiencia" (tap)="emitEMAIFrameworkEvent('shouldDeliverQuestionFrequencyFeedback')"></SymPrimaryButton>
        </SymSimulationSection>
    </StackLayout>
</ScrollView>
